# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environments
venv/
env/
.venv/
.virtualenv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Environment & secrets
.env
.env.local
*.env

# IDE / Editor
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db
